<section class="static-page d-flex justify-content-center align-items-center flex-column contact text-center text-secondary gap-1 py-2">
    <h3 class="contact__title">Kontakt</h3>
    <p>panikomumikolog@gmail.com</p>
    <a href="mailto:panikomumikolog@gmail.com" class="text-accent contact__icon"><fa-icon [icon]="faEnvelope" ></fa-icon></a>
    <h4 class="contact__title">Zobacz również:</h4>
    <div class="d-flex flex-column gap-2 flex-row-sm justify-content-center align-items-center py-2">
        <a class="button" routerLink="podcast"><span>Podcasty</span></a>
        <a class="button" routerLink="blog"><span>Blog</span></a>
    </div>
</section>

