<section class="d-flex justify-content-center align-items-center flex-column contact text-center text-secondary gap-1 py-3">
    <h3 class="contact__title">Napisz do mnie</h3>
    <p><a href="mailto:panikomumikolog@gmail.com" class="animate-underline" title="Napisz maila do panikomumikolog@gmail.com">panikomumikolog&#64;gmail.com</a></p>
    <a href="mailto:panikomumikolog@gmail.com" class="text-accent contact__icon" title="Napisz maila do panikomumikolog@gmail.com"><fa-icon [icon]="faEnvelope" ></fa-icon></a>
    <h4 class="contact__title">Zobacz również:</h4>
    <div class="d-flex flex-column gap-2 flex-row-sm justify-content-center align-items-center py-2">
        <a class="button-accent button-accent-darken--hover button-shadow button" routerLink="podcast" title="Przejdź do podcastów"><span>Podcasty</span></a>
        <a class="button-accent button-accent-darken--hover button-shadow button" routerLink="blog" title="Przejdź do Bloga"><span>Blog</span></a>
    </div>
</section>

