.button {
    border-radius: 0.3em;
    padding: 1em 2em; 
    transition: all 0.6s;
    min-width: 12em;
    display: block;
    

    //text 
    span {
        display: block;
        text-align: center;
        font-size: $base-fontSize * 1.2;
        line-height: 0.9;
    }

    &--disabled{
        background: gray;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        color:white;
    }

    &--wide {
        min-width: 20em;
    }
    
    //shadow
    &-shadow {
        box-shadow: -0.4em 0.4em 0 0 $black;
    }

    &-shadow:hover {
        box-shadow: 0.4em 0.4em 0 0 $black;
    }

    @include sm{
        padding: 0.5em 1em; 
        min-width: 10em;
        span {
            font-size: $base-fontSize * 1.25;
        }
        &--wide{
            min-width: 15em;
        }
    }

    @include md{
        &-shadow:hover {
            box-shadow: 0.5em 0.6em 0 0 $black;
        }
        span {
            font-size: $base-fontSize * 1.35;
        }
    }

    //colors
    @each $key, $val in $colors {
        &-#{$key}{
            color:$white;
            background-color: $val;
            @if($val == white){
                span {
                    color: $black;
                }
            }
        }
        &-#{$key}-darken--hover:hover{
            background-color: darken($val,15%);
        }
        &-#{$key}-lighten--hover:hover{
            background-color: lighten($val,10%);
        }
    }
}
