@import "breakpoints";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: $base-font-size;
  font-family: $base-font-style, Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

input {
  width: 100%;
}
