@import './breakpoints';


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//reset styles

body {
    background-color: $primary;
    min-height: 90vh;
    padding: 0;
    margin: 0;
    font-size: $base-fontSize;
    font-family: 'Playfair Display', serif;
}



button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    color:inherit;
    padding: 0;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width:100%;
}

h1 {
    font-size: $base-fontSize * 1.25;
    @include xs {
        font-size: $base-fontSize * 1.75;
    }
    @include sm {
        font-size: $base-fontSize * 2;
    }
    @include md {
        font-size: $base-fontSize * 3;
    }
}

h2{
    font-size: $base-fontSize * 1.15;
    @include xs {
        font-size: $base-fontSize * 1.55;
    }
    @include sm {
        font-size: $base-fontSize * 1.8;
    }
    @include md {
        font-size: $base-fontSize * 2.5;
    }
}

h3{
    font-size: $base-fontSize * 1.10;
    @include xs {
        font-size: $base-fontSize * 1.45;
    }
    @include sm {
        font-size: $base-fontSize * 1.6;
    }
    @include md {
        font-size: $base-fontSize * 2.3;
    }
}
h4 {
    font-size: $base-fontSize * 1.05;
    @include xs {
        font-size: $base-fontSize * 1.35;
    }
    @include sm {
        font-size: $base-fontSize * 1.4;
    }
    @include md {
        font-size: $base-fontSize * 2.2;
    }
}

p{
    font-size: $base-fontSize * 0.75;
    line-height: 1.75em;
    @include xs {
        font-size: $base-fontSize * 0.85;
    }
    @include sm {
        font-size: $base-fontSize * 0.95;
    }
    @include md {
        font-size: $base-fontSize * 1.25;
    }
}
