@import './breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: $primary;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: $base-fontSize;
    font-family: 'Playfair Display', serif;
}

img {
    max-width:100%;
}

input {
    all: unset;
    width: 100%;
}

img {
    max-width: 100%;
}
