//link

.decorated-underline-base {
  position: relative;
  font-style: italic;
  &:after {
    content: "";
    background-color: $accent;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
  }
}

.animate-underline {
  @extend .decorated-underline-base;
  &:after {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.activated-underline {
  @extend .decorated-underline-base;
  &:after {
    transform: scaleX(1);
  }
}

.custom-page {
  padding-top: $nav-bar-height;
}

.standard-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 14px 12px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.underline {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.01em $black;
  display: inline;
  transition: box-shadow 0.3s;
}

hr.dash {
  border: none;
  height: 1px;
  width: 30%;
  margin-left: 0;
  background: repeating-linear-gradient(
    90deg,
    $black,
    $black 6px,
    transparent 6px,
    transparent 12px
  );
}

.classic-list {
  list-style: disc !important;
  padding-left: 2rem;
}
