@import "./breakpoints";

h1,
.h1 {
  font-size: $base-font-size * 1.25;
  margin-bottom: 2rem;
  @include xs {
    font-size: $base-font-size * 1.75;
  }
  @include sm {
    font-size: $base-font-size * 2.5;
  }
  @include md {
    font-size: $base-font-size * 3;
  }
}

h2,
.h2 {
  font-size: $base-font-size * 1.15;
  margin-bottom: 1rem;
  @include xs {
    font-size: $base-font-size * 1.55;
  }
  @include sm {
    font-size: $base-font-size * 1.8;
  }
  @include md {
    font-size: $base-font-size * 2.5;
  }
}

h3,
.h3 {
  font-size: $base-font-size * 1.1;
  margin-bottom: 1rem;
  @include xs {
    font-size: $base-font-size * 1.45;
  }
  @include sm {
    font-size: $base-font-size * 1.6;
  }
  @include md {
    font-size: $base-font-size * 2.3;
  }
}
h4,
.h4 {
  font-size: $base-font-size * 1.05;
  margin-bottom: 1rem;
  @include xs {
    font-size: $base-font-size * 1.35;
  }
  @include sm {
    font-size: $base-font-size * 1.4;
  }
  @include md {
    font-size: $base-font-size * 2.2;
  }
}

p {
  font-size: $base-font-size * 0.75;
  line-height: 1.75em;
  margin-bottom: 1rem;
  @include xs {
    font-size: $base-font-size * 0.85;
  }
  @include sm {
    font-size: $base-font-size * 0.95;
  }
  @include md {
    font-size: $base-font-size * 1.25;
  }
}
