@import "client-settings";

//DECLARATIONS

//Colors
$primary: #ffff !default;
$secondary: #14213d !default;
$tertiary: #cf8b64 !default;
$accent: #ff7f11 !default;
$error: #d32752 !default;
$info: #f6c31c !default;
$correct: #1ac888 !default;
$white: white !default;
$black: black !default;

//Fonts
$base-font-size: 16px !default;
$base-font-style: "Times New Roman" !default;
$base-font-weights: 300, 400, 500, 600, 700 !default;

//Style
$base-padding: 1rem !default;
$base-margin: 1rem !default;
$base-percentage: 1% !default;
$base-round: 0.5rem !default;
$base-gap: 1rem !default;

//Breakpoints
$breakpoint-xs: 0 !default;
$breakpoint-sm: 576 !default;
$breakpoint-md: 768 !default;
$breakpoint-lg: 992 !default;
$breakpoint-xl: 1200 !default;
$breakpoint-custom: 777 !default;

//Grid
$grid-columns: 12 !default;

//Height
$fix-height: 0.75rem !default;

//Footer
$footer-height: 5rem !default;

//Top Bar
$top-bar-height: 4.25rem !default;
