//main colors

$primary:  #ffefe5;
$secondary: #692705;
$tertiary: #CF8B64;
$accent: #FF5700;
$error: #d32752; //do zmiany
$info: #f6c31c; //do zmiany
$correct: #1ac888; //do zmiany
$white: white;
$black: black;


$colors: (
    "primary":$primary,
    "secondary":$secondary,
    "tertiary":$tertiary,
    "accent": $accent,
    "error": $error,
    "info": $info,
    "correct": $correct,
    "white":$white,
    "black":$black
);

//declarations

$base-fontSize:16px;
$base-padding: 1rem;
$base-margin:1rem;
$base-percentage: 1%;
$base-round:0.5rem;
$base-gap: 1rem;


// przygotuj 
