@import "../../../assets/scss/variabless";

:host {
    position: fixed;
    min-height: 100vh;
    left: 0;
    top:0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.55);
    clip-path: inset(0px -15px 0px 0px);
    z-index: 10;
}

.side-nav{
    min-height: 100vh;
    ul{
        font-size: 1.5em;
    }
    &__button {
        font-size: 2em;
    }
    &__icons{
        font-size: 2em;
    }
}
.animate-underline::after{
    bottom: -15%;
    background-color: $white;
    width: 115%;
}
