<nav class="side-nav bg-secondary px-2 text-white pb-2">
  <div class="py-2 pt-2-sm pb-0-sm text-center">
    <button
      class="side-nav__button"
      (click)="viewManipulation.toogleView()"
      title="Zamknij Menu"
    >
      <fa-icon [icon]="faArrowLeftLong"></fa-icon>
    </button>
  </div>
  <ng-container *ngIf="menuArray.length > 0">
    <ul class="d-flex flex-column gap-2 py-1/2 pt-2-sm">
      <li *ngFor="let menuItem of menuArray">
        <a
          [routerLink]="
            menuItem.page_category === 'blog'
              ? 'blog/' + menuItem.url
              : menuItem.url
          "
          class="animate-underline"
          (click)="viewManipulation.toogleView()"
          >{{ menuItem.label }}</a
        >
      </li>
    </ul>
  </ng-container>

  <div
    class="d-flex flex-column align-items-center w-100 side-nav__icons mt-2 gap-2"
    *ngIf="screenBreakpoints.init().sm > innerWidth"
  >
    <a href="https://www.facebook.com/" rel="noopener" target="_blank" title=""
      ><fa-icon [icon]="faFacebook"></fa-icon>
    </a>
    <a href="https://www.instagram.com/" rel="noopener" target="_blank" title=""
      ><fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a href="https://www.tiktok.com/" rel="noopener" target="_blank" title=""
      ><fa-icon [icon]="faTiktok"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/" rel="noopener" target="_blank" title="">
      <fa-icon [icon]="faLinkedin"></fa-icon
    ></a>
  </div>
</nav>
