<section class="static-page pb-0">
  <h1 class="text-center text-secondary">
    Szkolenia z&nbsp;Komunikacji Medycznej
  </h1>
  <div class="bg-secondary text-white">
    <article class="container">
      <p class="py-2 text-center">
        Przyglądam się komunikacji medycznej&nbsp;z&nbsp;perspektywy
        komunikolożki&nbsp;i&nbsp;pacjentki&nbsp;:) Bywasz lub jesteś pacjentem,
        albo pracujesz z pacjentami? Rozgość się!
      </p>
    </article>
  </div>
  <h2 class="mt-3 text-center text-secondary">Spotkania warsztatowe dla NGO</h2>
  <article class="container">
    <p>
      <b
        >Jak Budować Pozytywną Relację z&nbsp;Lekarzem: Sztuka Skutecznej
        Komunikacji Co pacjent może zrobić, by&nbsp;usprawnić komunikację
        z&nbsp;personelem medycznym?</b
      >
    </p>
  </article>
  <div class="bg-secondary">
    <article class="container">
      <p class="py-2 text-white text-center">
        Z komunikacją medyczną mam do czynienia od ponad 10 lat. Z&nbsp;powodu
        choroby przewlekłej od kilkunastu lat jestem w kontakcie z personelem
        medycznym i&nbsp;odbyłam wiele rozmów z&nbsp;lekarzami. Każdy z&nbsp;nas
        czasami pacjentem bywa lub nim jest z powodu coraz częściej dotykających
        społeczeństwo chorób przewlekłych. Dlatego ważne jest, by&nbsp;zdobyć
        umiejętność skutecznej komunikacji, w czym z&nbsp;przyjemnością pomogę
        pacjentom i&nbsp;lekarzom. Zapraszam do kontaktu!
      </p>
    </article>
  </div>

  <h3 class="h2 text-center text-secondary mt-3">
    Szkolenia i&nbsp;wystąpienia publiczne dla organizacji pozarządowych
  </h3>
  <article class="container">
    <p>
      <b>
        Prowadzę warsztaty dla organizacji pozarządowych skupiających pacjentów.
        Wystąpiłam lub&nbsp;przeprowadziłam warsztaty m.in.&nbsp;podczas:
      </b>
    </p>
    <ul class="classic-list">
      <li>
        <p class="mb-0">
          Panelu Dyskusyjnego
          <i>,,Jak żyje się w Polsce z niewidoczną chorobą?’’</i> – bydgoskie
          obchody dnia Zero dla Dyskryminacji organizowanym przez Młyny Rothera
        </p>
      </li>
      <li>
        <p class="mb-0">
          Spotkania dla Pacjentów ze Stowarzyszenia <i>,,Zabrzanka’’ </i>
        </p>
      </li>
      <li><p>Medycznych Targów Wiedzy UJ w&nbsp;grudniu 2023&nbsp;r.</p></li>
    </ul>

    <ngx-slick-carousel [config]="slideConfig">
      <div ngxSlickItem *ngFor="let item of galleryItems" class="slide">
        <figure class="align-items-center d-flex flex-column">
          <img [src]="item.img" [alt]="item.alt" class="docs-img" />
          <figcaption>
            <cite>{{ item.txt }}</cite>
          </figcaption>
        </figure>
      </div>
    </ngx-slick-carousel>
  </article>

  <div class="bg-secondary py-2 mt-3">
    <article class="container text-white">
      <p>
        Przygotuję dla Twojej organizacji
        <b
          >warsztaty ze skutecznej komunikacji z personelem medycznym dla
          Pacjentów</b
        >. Dostosuję treść warsztatów do grupy pacjentów ze względu na
        <b>konkretne schorzenia i&nbsp;specjalności lekarzy</b>, którzy się nimi
        zajmują. Tematy, które poruszę&nbsp;to&nbsp;m.in.:
      </p>
      <ul class="mb-1 text-left classic-list">
        <li>
          <p class="font-500 mb-0">
            <i>Co to jest komunikacja i&nbsp;kiedy się&nbsp;komunikujemy?</i>
          </p>
        </li>
        <li>
          <p class="font-500 mb-0"><i>Modele w komunikacji medycznej.</i></p>
        </li>
        <li>
          <p class="font-500 mb-0"><i>Mity w&nbsp;komunikacji medycznej.</i></p>
        </li>
        <li>
          <p class="font-500 mb-0">
            <i
              >Komunikacja pacjent – lekarz (dlaczego jest ważna, jak
              przygotowywać się do wizyty, wskazówki). Jak być skutecznym w
              gabinecie u&nbsp;lekarza?</i
            >
          </p>
        </li>
        <li>
          <p class="font-500 mb-0">
            <i
              >Jak komunikować się z&nbsp;naszymi bliskimi? Dlaczego ludzie
              zdrowi nie lubią rozmawiać o chorobach?</i
            >
          </p>
        </li>
      </ul>
      <p class="text-center">
        Jeśli zainteresowała Cię moja oferta zapraszam do kontaktu pod tym
        adresem :<br />
        <a
          class="animate-underline"
          href="mailto:panikomumikolog@gmail.com"
          title="Napisz maila do panikomumikolog@gmail.com"
          >panikomumikolog@gmail.com</a
        >
      </p>
    </article>
  </div>
</section>
