@import "breakpoints";
@import "variabless";

.icon-section {
  font-size: 2em;
  @include md {
    font-size: 1.2em;
  }
  @include lg {
    font-size: 1.45em;
  }
  a {
    font-size: inherit;
    transition: all 0.5s ease-in-out;
    text-align: center;
    &:hover {
      transform: scale(1.3);
    }
    fa-icon {
      font-size: inherit;
    }
  }
}
