<section class="static-page">
    <h2 class="w-100 text-center about-me__line my-3"><span class="px-2 about-me__subtitle text-secondary">Kim jestem?</span></h2>
    <div class="bg-secondary w-100 py-2 py-3-sm">
        <article class="container">
            <p class="text-white">
                Z wykształcenia jestem komunikolożką i językoznawczynią. Studiowałam o tym, jak język
                polski działa w komunikacji społecznej. Uważam, że umiejętność skutecznego
                porozumiewania się nie jest łatwa, jednak można się jej nauczyć a następnie wytrwale
                praktykować.
                W moim kawałku internetu znajdziesz dużo edukacyjnych treści o tym jak rozmawiać, by się
                dogadać. Uwielbiam pisać, więc będzie można tutaj poczytać moje pisemne, życiowe
                przemyślenia. Trochę też gadam do mikrofonu tworząc swój podcast. Nie jest mi także obca
                forma komunikowania się przez video - nagrywam tik toki z tipami, jak zostać lepszym
                mówcą i przestrzegać zasad etykiety.
                Zapraszam! Częstujcie się komunikacyjnymi treściami!</p>
        </article>         
    </div>
</section>
