<section
  class="static-page d-flex justify-content-center gap-1 gap-3-md gap-5-lg align-items-center flex-column"
>
  <h2 class="w-100 text-center about-me__line my-3">
    <span class="px-2 bg-primary text-secondary">Who am I?</span>
  </h2>
  <div class="bg-secondary w-100 py-2 py-3-sm">
    <article class="container">
      <p class="text-white">
        They showed themselves, the top 1% of the 1%, the ones in control, the
        ones who play God without permission. And now I'm gonna take them down.
      </p>
    </article>
  </div>
</section>
