<section class="d-flex justify-content-center align-items-center flex-column">
    <h2 class="w-100 text-center about-me__line"><span class="px-2 bg-primary text-secondary">Kim jestem?</span></h2>
    <div class="bg-secondary w-100 py-3">
        <article class="container">
            <p class="text-white text-center text-left-sm">
                Mam na imię Klaudia. Jestem językoznawczynią i&nbsp;komunikolożką. Wiedzę zdobywałam na&nbsp;Wydziale Polonistyki Uniwersytetu Jagiellońskiego. Byłam członkinią Koła Naukowego Komunikacji UJ. W&nbsp;Internecie uczę o&nbsp;skutecznej komunikacji w&nbsp;różnych relacjach, ale&nbsp;szczególnie w&nbsp;relacji pacjent-lekarz.
                Z&nbsp;komunikacją medyczną mam do czynienia od ponad 10 lat. Z&nbsp;powodu choroby przewlekłej od&nbsp;kilkunastu lat jestem w&nbsp;kontakcie z&nbsp;personelem medycznym i&nbsp;odbyłam wiele rozmów z&nbsp;lekarzami.
                Każdy z&nbsp;nas czasami pacjentem bywa lub&nbsp;nim jest z&nbsp;powodu coraz częściej dotykających
                społeczeństwo chorób przewlekłych. Dlatego ważne jest, by&nbsp;zdobyć umiejętność skutecznej komunikacji, w&nbsp;czym z&nbsp;przyjemnością pomogę pacjentom i&nbsp;lekarzom. Zapraszam do kontaktu!</p>
        </article>         
    </div>
</section>
