
<section class="static-page py-5 " >
    <div class="container">
        <img *ngIf="article.img" [src]="article.img">
        <h1 class="text-center">{{article.title}}</h1>
        <small class="font-weight-700">
            <span>{{article.date}}</span> | <span *ngFor="let tag of article.tag" class="text-accent">{{tag}}<span *ngIf="tag !== article.tag[article.tag.length -1] ">, </span> </span>
        </small>
        <p class="font-weight-700">{{article.description}}</p>
        <article [innerHTML]="article.content">

        </article>
    </div>
    
</section>

