@import "breakpoints";
@import "variabless";

:host {
  display: block;
}

.navbar {
  position: fixed;
  z-index: 1;
  height: $nav-bar-height;
  button {
    fa-icon {
      pointer-events: none;
      font-size: 2em;
      @include sm {
        font-size: 2.5em;
      }
    }
  }
  &__logo {
    padding: $nav-bar-logo-pad;
  }
}
