<div *ngIf="loadPage">
    <nav class="navbar">
        <button (click)="viewManipulation.toogleView()" class="text-accent"><fa-icon [icon]="faBars" ></fa-icon></button>
        <app-iconTab *ngIf="screenBreakpoints.init().sm < innerWidth"></app-iconTab>
    </nav>
    
    <app-sideNav *ngIf="viewManipulation.showSideBar" @slideInOut></app-sideNav>
    
    <app-main-section id="ja"></app-main-section>
    <app-about-me-section></app-about-me-section>
    <app-contact-section id="kontakt"></app-contact-section>
</div>


