@import "breakpoints";

.navbar {
  position: fixed;
  z-index: 1;
  height: 4.25rem;
  button {
    fa-icon {
      pointer-events: none;
      font-size: 2em;
      @include sm {
        font-size: 2.5em;
      }
    }
  }
}
