<section class="w-100 pt-1">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="search-bar">
        <h1 class="text-center title">{{ blog?.blog_title }}</h1>
        <input
          [placeholder]="
            settings.getSetting('blog.input_placeholder.value', 'ui')
          "
          type="search"
          [(ngModel)]="search"
        />
        <button class="icon text-secondary">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </div>
    <div class="grid-layout py-2">
      <ng-container *ngIf="articles.length > 0; else skeletonBlock">
        <article
          *ngFor="
            let post of articles
              | sortByDate : 'date'
              | blogFilter : search : ['article_title', 'lead']
          "
          class="standard-shadow preview-article d-flex flex-column h-100 bg-secondary-light-1 text-white w-100"
        >
          <picture
            class="preview-article__background"
            [ngStyle]="{
              'background-image':
                post.photo_url && post.photo_url.length > 0
                  ? 'url(' + post.photo_url + ')'
                  : 'url(../../../assets/img/placeholder_photo.webp)'
            }"
          ></picture>
          <div
            class="preview-article__text d-flex justify-content-center flex-column h-100 w-100"
          >
            <div
              class="d-flex justify-content-center align-items-center h-100 p-1"
            >
              <h2 class="m-0 text-center">{{ post.article_title }}</h2>
            </div>
            <div
              class="d-flex justify-content-space-between align-items-center bg-secondary py-2 px-1 preview-article__interactive-line"
            >
              <span class="preview-article__interactive-line--reading-time"
                >~{{ post.readingTime }}
                {{ settings.getSetting("blog.mins_read.value", "ui") }}</span
              >
              <a
                routerLink="{{ post.url }}"
                class="button button-accent standard-shadow"
                [title]="settings.getSetting('blog.button_title.value', 'ui')"
                ><span>{{
                  settings.getSetting("blog.button_text.value", "ui")
                }}</span></a
              >
            </div>
          </div>
        </article>
      </ng-container>
      <ng-template #skeletonBlock>
        <ng-container *ngFor="let _ of skeletonCount">
          <app-skeleton-blog></app-skeleton-blog>
        </ng-container>
      </ng-template>
    </div>
  </div>
</section>
