@import "breakpoints";
@import "variabless";
:host {
  display: block;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  justify-items: center;
  @include lg {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
  }
}

.title {
  font-size: 2.5rem;
  font-style: italic;
}

.preview-article {
  border-radius: $base-round;
  width: 100%;
  max-width: 30rem;
  transition: all 0.65s ease-in-out;
  &:hover {
    scale: 1.05;
  }
  h2 {
    font-size: 1.75rem;
  }
  p {
    font-size: 1.1em;
    line-height: 1.4;
  }
}
