<ul
  [class]="'d-flex gap-2-lg gap-1-md menu ' + cssClass"
  *ngIf="menu.length > 0"
>
  <li *ngFor="let menuItem of menu" class="menu__item_container">
    <a
      [routerLink]="
        menuItem.page_category === 'blog'
          ? 'blog/' + menuItem.url
          : menuItem.url
      "
      class="animate-underline menu__item"
      [fragment]="menuItem.scroll_target ? menuItem.scroll_target : undefined"
      routerLinkActive="activated-underline"
      [routerLinkActiveOptions]="configActiveRoute"
      (click)="clickHandler()"
      >{{ menuItem.label }}</a
    >
  </li>
</ul>
