<section class="static-page pb-3">
    <div class="background-tedx-black text-center py-2 mb-2">
        <h1 class="text-tedx-red font-1000 m-0">Wystąpienie TED<sup>x</sup></h1>
        <a href="https://www.ted.com/tedx/events/54638" title="Otwórz stronę Tedx" target="_blank" rel="noopener">
            <img src="../../../assets/img/tedx/tedx.jpg" alt="Klaudia Katarzyńska wystąpienie tedx" class="w-100 w-50-sm mb-1">
        </a>

    </div>
    <article class="container text-center">
        <p>Wkrótce nagranie z mojego wystąpienia! Zapraszam do śledzenia mnie na social mediach </p>
        <div class="d-flex flex-column flex-row-sm justify-content-center gap-1">
            <a class="button button-accent p-1 button-shadow" title="Facebook" href="https://www.facebook.com/profile.php?id=100069643473900" target="_blank" rel="noopener"><span>Facebook</span></a>
            <a class="button button-accent p-1 button-shadow" title="Instagram" href="https://www.instagram.com/pani_komunikolog" target="_blank" rel="noopener"><span>Instagram</span></a>
        </div>
    </article>
</section>