@import "../../../assets/scss/breakpoints.scss";

.icon-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  min-width: 10rem;
  @include sm {
    min-width: 15rem;
    padding: 0.8rem;
  }
  @include md {
    min-width: 20rem;
    padding: 1rem;
  }

  a {
    color: white;
    transition: all 0.5s ease-in-out;
    &:hover {
      transform: scale(1.3);
    }
    fa-icon {
      font-size: 1.3em;
      @include sm {
        font-size: 1.7em;
      }
    }
  }
}
