@import "../../../assets/scss/breakpoints.scss";
@import "../../../assets/scss/variabless";

.icon-section {
  border-radius: $base-round;
  a {
    transition: all 0.5s ease-in-out;
    text-align: center;
    min-width: 2.5rem;
    @include xs {
      min-width: 3.5rem;
    }
    @include md {
      min-width: 4.5rem;
    }
    &:hover {
      transform: scale(1.3);
    }
    fa-icon {
      font-size: 1.3em;
      @include sm {
        font-size: 1.7em;
      }
    }
  }
}
