<section
  class="icon-section standard-shadow p-1/2 bg-primary p-3/4-xs p-1-md d-flex-sm justify-content-space-around align-items-center text-accent"
>
  <a
    href="https://www.facebook.com/people/Pani-Komunikolog/100069643473900/"
    rel="noopener"
    target="_blank"
    title=""
    ><fa-icon [icon]="faFacebook"></fa-icon>
  </a>
  <a
    href="https://www.instagram.com/pani_komunikolog/"
    rel="noopener"
    target="_blank"
    ><fa-icon [icon]="faInstagram"></fa-icon>
  </a>
  <a
    href="https://www.tiktok.com/@panikomunikolog"
    rel="noopener"
    target="_blank"
    ><fa-icon [icon]="faTiktok"></fa-icon>
  </a>
  <a href="https://www.linkedin.com/in/klaudia-katarzy%C5%84ska-97a9b3212" rel="noopener" target="_blank">
    <fa-icon [icon]="faLinkedin"></fa-icon
  ></a>
</section>

