<section class="static-page pb-3">
    <article class="container text-center">
        <img src="../../../assets/img/publikacje/zabrzanka/ZABRZANKA.png" alt="Pierwsza Strona Ebooka" class="w-100 w-40-lg w-40-md w-50-sm">
        <h1>Materiały Warsztatowe</h1>
        <p>Poradnik skutecznej komunikacji medycznej dla Członków Stowarzyszenia Samopomocy Osób Niepełnosprawnych ''Zabrzanka''. Poradnik został przygotowany w ramach wykonania zadania publicznego ''Razem do Gwiazd''. Zawiera najważniejsze wskazówki z warsztatów, które odbyły się w dniu 16.11.2023 r. online. Uczestnikami warsztatów byli członkowie Stowarzyszenia ''Zabrzanka'' i Klubu Seniora ''Zandka''. Wskazówki dotyczą skutecznej komunikacji pacjentów z personelem medycznym oraz języka, jakiego najlepiej używać mówić o chorobie i niepełnosprawności. Plik dostępny jest tylko dla uczestników warsztatów. </p>
        <div class="text-center">
            <a class="button button-accent p-1 button-shadow" title="Pobierz ebooka" href="https://tinyurl.com/3bj8tcap" target="_blank" rel="noopener"><span>Pobierz</span></a>
        </div>
    </article>
</section>