<nav class="side-nav bg-secondary px-2 text-white pb-2">
  <div class="py-2 pt-2-sm pb-0-sm text-center">
    <button
      class="side-nav__button"
      (click)="viewManipulation.toogleView()"
      title="Zamknij Menu"
    >
      <fa-icon [icon]="icons.icons.leftArrow"></fa-icon>
    </button>
  </div>

  <app-menu
    [isMobile]="innerWidth <= screenBreakpoints.init().md"
    cssClass="flex-column gap-2 py-1/2 pt-2-sm"
  ></app-menu>

  <app-sm-icons
    cssClass="flex-column align-items-center text-white gap-2 pt-2"
  ></app-sm-icons>
</nav>
