<main class="d-flex align-items-center pt-3 pt-5-sm">
  <section class="bg-secondary w-100 py-2 py-3-sm">
    <div
      class="container d-flex justify-content-center gap-1 gap-3-md gap-5-lg align-items-center flex-column flex-row-sm"
    >
      <header class="text-center text-left-sm">
        <h1 class="text-white">
          Mr <br />
          Robot
        </h1>
        <p class="text-white">
          Maybe wars aren’t meant to be won, maybe they’re meant to be
          continuous.
        </p>
      </header>
      <img src="" class="br-100 main__photo" alt="Mr.Robot" />
    </div>
  </section>
</main>
