<main class="d-flex align-items-center static-page">
    <section class="bg-secondary w-100 py-2 py-3-sm">
        <div class="container d-flex justify-content-center gap-1 gap-3-md gap-5-lg align-items-center flex-column flex-row-sm">
            <header>
                <h1 class="text-white text-center">
                    Pani <br>
                    Komunikolog
                </h1>
                <p class="text-white">Pisze, tworze, nagrywam, opowiadam wspieram.</p>
            </header>
            <img src="../../../assets/images/main-photo.jpg" class="w-20 br-100 main__photo"/>
        </div>         
    </section>
</main>
