@import '../../../assets/scss/breakpoints';

.main{
    &__photo{
        width: 10em;
        height: 10em;
        object-fit: cover;
        filter:sepia(0.5);
        @include sm{
            width: 12em;
            height: 12em;
        }
        @include md {
            width: 15em;
            height: 15em;
        }
    }
}
